@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Roboto; /* Mengubah font menjadi Roboto */
    margin: 0;
  }
/* Navbar */
  .navbar {
    position: fixed; /* Menjadikan navbar fixed */
    top: 0;
    width: calc(100% - 100px); /* Mengisi seluruh lebar layar kecuali 100px dari sisi kanan */
    height: 80px; /* Mengatur tinggi navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; /* Memberikan jarak 10px pada sisi atas dan bawah, serta 50px pada sisi kiri */
    background-color: #E1EEFF; /* Mengubah warna background navbar */
    color: #021526; /* Mengubah warna teks navbar */
  }
  
  .navbar-left {
    flex: 1;
  }
  
  .navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for MeCare text */
  .mecare-text {
    font-size: 40px; /* Mengatur ukuran font menjadi 40px */
  }
  
  .navbar-center a {
    margin: 0 20px;
    text-decoration: none;
    color: #021526; /* Menggunakan warna teks yang diinginkan (#021526) */
    font-size: 20px; /* Mengubah ukuran font */
    font-weight: normal; /* Mengubah berat huruf font menjadi regular */
  }
  
  .navbar-center a.home-link {
    color: #0360D9; /* Mengubah warna teks "Beranda" (#0360D9) */
  }
  
  .navbar-center a:hover {
    border-bottom: 2px solid #021526; /* Mengubah warna border-bottom saat hover */
  }
  
  /* Style for navbar right */
  .navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px; /* Mengatur ukuran teks menjadi 40px */
  }
  
  /* Style for all buttons in the navbar */
  .navbar-button {
    width: 150px; /* Mengubah lebar button */
    height: 55px; /* Mengubah tinggi button */
    padding: 10px 20px;
    background-color: #0360D9;
    border: none;
    color: white;
    font-size: 20px; /* Mengubah ukuran font */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Mengatur konten tengah dalam button */
    border-radius: 10px; /* Memberikan radius sudut 10px pada tombol */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-button:hover {
    background-color: #2980b9;
    
  }
  
  .button-text {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .btn-login{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
  }

  .login-icon svg{
    fill: white;
  }
  .navbar-logo{
    font-size: 40px;
    font-weight: 900;
  }

  .logo-me{
    color: #021526;
  }

  .logo-care{
   color:  #0360D9;
  }
  
  /* Style for logo "Me" */

  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: #021526; /* Menggunakan warna teks yang diinginkan */
    padding: 10px 20px;
    font-size: 20px; /* Mengubah ukuran font */
    font-weight: normal; /* Mengubah berat huruf font menjadi regular */
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Memberikan radius sudut 10px pada tombol */
  }
  
  .dropbtn:hover {
    background-color: #d6d2d2;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1eeff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px; /* Memberikan radius sudut 10px pada tombol */
    
  }
  
  .dropdown-content a {
    color: #021526;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px; /* Mengubah ukuran font */
    font-weight: normal; /* Mengubah berat huruf font menjadi regular */
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.isi-konten-grid{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 2fr;
    gap: 0rem;
}

.konten-kiri{
    /* margin-top: 400px; */
    background-color: #A5CCFF;
    width: 450px;
    height: 775px;
    /* height: 1000px; */
    margin: 130px 50px 50px;
    border-radius: 10px;
    padding: 15px;
}

.cari-konselor-judul, .cari-konselor-subjudul{
    text-align: center;
}

.cari-konselor-subjudul{
    display: flex;
    justify-content: center;
    /* word-spacing: 1px; */
    text-align: center;
}

.cari-konselor h3{
    font-size: 28px;
    color: #021526;
}

.cari-konselor h3 span{
color: #0360D9;  
}

.cari-konselor p{
    font-size: 18px;
}

.gambar-konselor{
    display: flex;
    justify-content: center;
}

.gambar-konselor img{
    height: 220px;
    width: auto;
}

.lingkaran1, .lingkaran3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.lingkaran2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3498db;
}

.titik-tiga{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}


.mengapa-mecare h6{
font-size: 18px;
margin-left: 15px;
}

.mengapa-mecare h6 span{
    color: #0360D9;
}

.konseling-konsultasi{
    margin-top: -30px;
}

.konseling-konsultasi, .konseling-kelola, .konseling-dukungan {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .bg-lingkaran {
    background-color: white; /* Latar belakang putih */
    border-radius: 50px; /* Membuat gambar lingkaran */
    height: 30px;
    width: 30px;
    padding: 10px; /* Ruang di sekitar gambar */
    margin-right: 10px; /* Jarak antara gambar dan teks */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container {
    flex: 1; /* Memenuhi sisa ruang di sebelah kanan gambar */
  }
  
  .text-container p {
    margin: 0; /* Menghilangkan margin pada teks */
  }

  .btn-riwayat{
    background-color: #0360D9;
    height: 45px;
    width: 110px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    cursor: pointer;
  }

.btn-riwayat:hover{
background-color: #2980b9;
}

  .btn-riwayat a{
    text-decoration: none;
    color: white;
    
  }

  .search-container {
    justify-content: flex-end; /* Memindahkan ke kanan */
    margin: 0 50px; 
    display: flex;
    margin-top: 130px;
  }
  
  .search-text {
    padding: 10px;
    border: 1px solid #021526;
    border-radius: 5px 0 0 5px;
    width: 300px; /* 80% width untuk field text */
    height: 29px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 5px 15px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #0360D9; /* Warna biru untuk field icon pencarian */
    color: white;
    height: 50px;
    cursor: pointer;
  }

  .search-text:focus {
    border: 1px solid #3498db; /* Ubah warna border saat focus */
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5); /* Tambahkan efek shadow saat focus */
  }
  
  .search-button:active {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Tambahkan efek shadow saat tombol ditekan */
  }

  .search-button:hover{
    background-color: #2980b9;
  }

  .search-button i {
    font-size: 24px; /* Ukuran ikon */
  }
  
  .judul-rekomendasi-konselor h1{
font-size: xx-large;

  }

  .judul-rekomendasi-konselor{
    margin-top: 30px;
  }

  .subjudul-rekomendasi-konselor{
    margin-top: -20px;
  }

  .card-rekomendasi-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin-top: 10px;
  }

  .card-konselor1, .card-konselor2{
    background-color: #2980b9;
    height: 250px;
    width: 354px;
    border-radius: 15px ;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #EEEEEE, #A5CCFF);
  }

  .card-konselor2{
    margin-left: -20px;
  }

  .card-konselor1, .card-konselor2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }

  .img-konselor img{
    width: 90px;
    height: 120px;
    border-radius: 10px;
    margin: 10px;
  }

.nama-konselor-status{
  display: flex;
  flex-wrap: wrap;
  /* display: block; */
}

.nama-konselor h4{
  margin-left: -70px;
  margin-top: 7px;
}

.status-on{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #14FF00;
  margin-top: 7px;
  margin-left: 100px;
}

.status-off{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7e7e7e;
  margin-top: 7px;
  margin-left: 100px;
}


.bidang-keahlian{
color: rgb(102, 99, 99);
margin-left: -70px;
margin-top: -30px;
}

.gejala {
  margin-top: 8px;
}

.gejala span{
  color: #0360D9;
}

.pengalaman-rating, .jam{
  display: flex;
  flex-wrap: wrap;
  margin-left: -70px;
}

.pengalaman, .rating{
  display: flex;
  flex-wrap: wrap;
  margin-right: 25px;
  background-color: #a3a3a3;
  border-radius: 5px;
  justify-content: center;
  align-items: center;

}

.pengalaman{
  height: 25px;
  width: 70px;
}

.rating{
  height: 25px;
  width: 55px;
}

.jam-masuk{
  margin-top: 10px;
  height: 25px;
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 25px;
  background-color: #FFDFDC;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.isi-pengalaman p, .isi-rating p, .isi-jam p{
  font-size: 10px;
}

.img-pengalaman img, .img-rating img, .img-jam img{
width: 15px;
height: 15px;
}

.isi-pengalaman, .isi-rating, .isi-jam, .img-pengalaman, .img-rating, .img-jam{
  display: flex;
  align-items: center;
  text-align: center;
}

.isi-pengalaman p, .isi-rating p, .isi-jam p,.img-pengalaman img, .img-rating img, .img-jam img{
  margin: 0px;
}


/* Start: Untuk btn harga diskon on */
.harga-chat{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 8px;
}

.diskon{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.harga-normal{
  text-decoration: line-through;
  margin-top: -12px;
}


.img-diskon img{
width: 15px;
height: 15px;
margin-left: 5px;
margin-top: 2px;
}

.harga-diskon h4{
  margin: 0px;
}

.harga{
  margin-left: -70px;
}

.btn-chat{
  display: flex;
  margin-left: 90px;
  background-color: #0360D9;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  margin-top: -72.5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-chat:hover{
  background-color: #2980b9;
}

.btn-chat a{
  text-decoration: none;
  color: white;
}
/* End: Untuk btn harga diskon on */


/* Start: Untuk btn harga diskon off */
.harga-chat-off{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 8px;
}

.diskon-off{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px; /* ubah */
}

.harga-normal-off{
  text-decoration: line-through;
  margin-top: -12px;
}


.img-diskon-off img{
width: 15px;
height: 15px;
margin-left: 5px;
margin-top: 2px;
}

.harga-diskon-off h4{
  margin: 0px;
}

.harga-off{
  margin-left: -70px;
}

.btn-chat-off{
  display: flex;
  margin-left: 90px;
  background-color: #D9D9D9;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  margin-top: -72.5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-chat-off:hover{
  background-color: #0360D9;
}

.btn-chat-off:hover a{
  color: white;
}

.btn-chat-off a{
  text-decoration: none;
  color: #858383;
}
/* End: Untuk btn harga diskon off */


/* Start: Untuk btn harga nondiskon on */
.harga-chat-nodiskon{
  display: flex;
}

.harga-nodiskon{
  margin-left: -70px;
  margin-bottom: 0px;
  margin-top: 63px;
}

.harga-nodiskon h4{
  margin: 0px;
}

.btn-chat-nodiskon{
  display: flex;
  margin-left: 80px;
  background-color: #0360D9;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
  cursor: pointer;
}

.btn-chat-nodiskon:hover{
  background-color: #2980b9;
}

.btn-chat-nodiskon a{
  text-decoration: none;
  color: white;
}
/* End: Untuk btn harga nondiskon on */


/* Start: Untuk btn harga nondiskon off */
.harga-chat-nodiskon-off{
  display: flex;
}

.harga-nodiskon-off{
  margin-left: -70px;
  margin-bottom: 0px;
  margin-top: 29px;
}

.harga-nodiskon-off h4{
  margin: 0px;
}

.btn-chat-nodiskon-off{
  display: flex;
  margin-left: 80px;
  background-color: #D9D9D9;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.btn-chat-nodiskon-off:hover a{
  color: white;
}

.btn-chat-nodiskon-off:hover{
  background-color: #0360D9;
}


.btn-chat-nodiskon-off a{
  text-decoration: none;
  color: #858383;
}
/* End: Untuk btn harga nondiskon off */


.judul-rekomendasi-Spesialisasi h1{
  font-size: xx-large;
}
   
.subjudul-rekomendasi-Spesialisasi{
      margin-top: -15px;
}

.circle-pilihan{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.img-psikolog {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bg-spesialis {
  width: 50px; /* Sesuaikan ukuran lingkaran sesuai kebutuhan */
  height: 50px; /* Sesuaikan ukuran lingkaran sesuai kebutuhan */
  background-color: #0360D9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Jarak antara lingkaran dan teks */
}


.gambar-dalam-lingkaran img {
  width: 60%; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: auto;
}

.text-spesialis{
  margin-top: -25px;
}

.bg-spesialis:hover {
  background-color: #2980b9;
}

.kesehatan-mental{
  margin-top: -30px;
}


#footer{
  margin-top: 80px;
  background-color: #E1EEFF;
  height: 285px;
  padding: 50px;
  }

  .footer-konten-kiri p{
    margin-top: -18px;
    margin-bottom: 68px;
  }

  .footer-kolom-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .icon-sosmed img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .icon-sosmed{
    display: flex;
  }

  .footer-konten-tengah h3, .footer-konten-kanan h3{
    font-size: 24px;
  }

  .footer-konten-tengah, .footer-konten-kanan{
    padding: 0 110px;
  }

  .footer-konten-tengah a, .footer-konten-kanan a{
    display: block;
    margin-bottom: 10px;
    color: #021526;
    text-decoration: none;
  }

  .footer-konten-tengah a:hover, .footer-konten-kanan a:hover{
    color: #0360D9;
  }
