@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Roboto; /* Mengubah font menjadi Roboto */
    margin: 0;
  }
/* Navbar */
  .navbar {
    position: fixed; /* Menjadikan navbar fixed */
    top: 0;
    width: calc(100% - 100px); /* Mengisi seluruh lebar layar kecuali 100px dari sisi kanan */
    height: 80px; /* Mengatur tinggi navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; /* Memberikan jarak 10px pada sisi atas dan bawah, serta 50px pada sisi kiri */
    background-color: #E1EEFF; /* Mengubah warna background navbar */
    color: #021526; /* Mengubah warna teks navbar */
    z-index: 1;
  }
  
  .navbar-left {
    flex: 1;
  }
  
  .navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for MeCare text */
  .mecare-text {
    font-size: 40px; /* Mengatur ukuran font menjadi 40px */
  }
  
  .navbar-center a {
    margin: 0 20px;
    text-decoration: none;
    color: #021526; /* Menggunakan warna teks yang diinginkan (#021526) */
    font-size: 20px; /* Mengubah ukuran font */
    font-weight: normal; /* Mengubah berat huruf font menjadi regular */
  }
  
  .navbar-center a.home-link {
    color: #0360D9; /* Mengubah warna teks "Beranda" (#0360D9) */
  }
  
  .navbar-center a:hover {
    border-bottom: 2px solid #021526; /* Mengubah warna border-bottom saat hover */
  }
  
  /* Style for navbar right */
  .navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px; /* Mengatur ukuran teks menjadi 40px */
  }
  
  /* Style for all buttons in the navbar */
  .navbar-button {
    width: 150px; /* Mengubah lebar button */
    height: 55px; /* Mengubah tinggi button */
    padding: 10px 20px;
    background-color: #0360D9;
    border: none;
    color: white;
    font-size: 20px; /* Mengubah ukuran font */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Mengatur konten tengah dalam button */
    border-radius: 10px; /* Memberikan radius sudut 10px pada tombol */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-button:hover {
    background-color: #2980b9;
    
  }
  
  .button-text {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .btn-login{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
  }

  .login-icon svg{
    fill: white;
  }
  .navbar-logo{
    font-size: 40px;
    font-weight: 900;
  }

  .logo-me{
    color: #021526;
  }

  .logo-care{
   color:  #0360D9;
  }
  
  /* Style for logo "Me" */

  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: #021526; /* Menggunakan warna teks yang diinginkan */
    padding: 10px 20px;
    font-size: 20px; /* Mengubah ukuran font */
    font-weight: normal; /* Mengubah berat huruf font menjadi regular */
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Memberikan radius sudut 10px pada tombol */
  }
  
  .dropbtn:hover {
    background-color: #d6d2d2;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1eeff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px; /* Memberikan radius sudut 10px pada tombol */
    
  }
  
  .dropdown-content a {
    color: #021526;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px; /* Mengubah ukuran font */
    font-weight: normal; /* Mengubah berat huruf font menjadi regular */
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.isi-konten-grid{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 2fr;
    gap: 0rem;
}

.konten-kiri{
    /* margin-top: 400px; */
    background-color: #A5CCFF;
    width: 500px;
    height: 775px;
    /* height: 1000px; */
    margin: 130px 50px 50px;
    border-radius: 10px;
    padding: 15px;
}

.cari-konselor-judul, .cari-konselor-subjudul{
    text-align: center;
}

.cari-konselor-subjudul{
    display: flex;
    justify-content: center;
    /* word-spacing: 1px; */
    text-align: center;
}

.cari-konselor h3{
    font-size: 28px;
    color: #021526;
}

.cari-konselor h3 span{
color: #0360D9;  
}

.cari-konselor p{
    font-size: 18px;
}

.gambar-konselor{
    display: flex;
    justify-content: center;
}

.gambar-konselor img{
    height: 220px;
    width: auto;
}

.lingkaran1, .lingkaran3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.lingkaran2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3498db;
}

.titik-tiga{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}


.mengapa-mecare h6{
font-size: 18px;
margin-left: 15px;
}

.mengapa-mecare h6 span{
    color: #0360D9;
}

.konseling-konsultasi{
    margin-top: -30px;
}

.konseling-konsultasi, .konseling-kelola, .konseling-dukungan {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .bg-lingkaran {
    background-color: white; /* Latar belakang putih */
    border-radius: 50px; /* Membuat gambar lingkaran */
    height: 30px;
    width: 30px;
    padding: 10px; /* Ruang di sekitar gambar */
    margin-right: 10px; /* Jarak antara gambar dan teks */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container {
    flex: 1; /* Memenuhi sisa ruang di sebelah kanan gambar */
  }
  
  .text-container p {
    margin: 0; /* Menghilangkan margin pada teks */
  }

  .btn-riwayat{
    background-color: #0360D9;
    height: 45px;
    width: 110px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    cursor: pointer;
  }

.btn-riwayat:hover{
background-color: #2980b9;
}

  .btn-riwayat a{
    text-decoration: none;
    color: white;
    
  }

.konten-kanan{
  /* background-color: #3498db; */
  /* margin-right: 50px; */
  margin-top: 130px;
  /* margin: 0 50px; */
  max-width: fit-content;
  max-height: fit-content;
}


.angle-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0360D9; */
    max-height: fit-content;
    width: 330px;
    margin-left: -6px;
}

.angle-left h1{
    font-size: 30px;
    margin: 0px;
}

.angle-left i{
    font-size: 40px;
    cursor: pointer;
}

.card-metode{
background: linear-gradient(to bottom, #EEEEEE, #A5CCFF);
width: 620px;
border-radius: 15px;
height: 755px;
margin-left: 49px;
margin-top: 10px;
}

.pembayaran{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: fit-content;
  max-height: fit-content;
  gap: 100px;
  margin: 0 auto;
}

.pembayaran h5{
  font-size: x-large;
  margin: 20px 0px 20px 0px;
}


/* .radio-container {
    display: flex;
    align-items: center;
} */

.radio-label {
    display: flex;
    align-items: center;
    /* margin-right: 50px; */
    gap: 25px;
    margin-bottom: 15px;
}

.radio-label img {
    width: 70px;
    height: auto; /* Sesuaikan ukuran logo sesuai kebutuhan */
    /* margin-right: 10px; */
    border-radius: 5px;
}

.radio-label input[type="radio"] {
  transform: scale(2); /* Sesuaikan faktor skala sesuai kebutuhan */
  cursor: pointer;
}

.harga {
  display: flex;
  justify-content: space-between;
  /* background-color: #2980b9; */
  margin-top: 15px;
  /* text-align: center; */
  justify-content: center;
  gap: 300px;
}


.btn-bayar{
  background-color: #0360D9;
  height: 45px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  margin-top: 115px;
  cursor: pointer;
}

.btn-bayar:hover{
background-color: #2980b9;
}

.btn-bayar a{
  text-decoration: none;
  color: white;
  
}



#footer{
  margin-top: 80px;
  background-color: #E1EEFF;
  height: 285px;
  padding: 50px;
  }

  .footer-konten-kiri p{
    margin-top: -18px;
    margin-bottom: 68px;
  }

  .footer-kolom-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .icon-sosmed img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .icon-sosmed{
    display: flex;
  }

  .footer-konten-tengah h3, .footer-konten-kanan h3{
    font-size: 24px;
  }

  .footer-konten-tengah, .footer-konten-kanan{
    padding: 0 110px;
  }

  .footer-konten-tengah a, .footer-konten-kanan a{
    display: block;
    margin-bottom: 10px;
    color: #021526;
    text-decoration: none;
  }

  .footer-konten-tengah a:hover, .footer-konten-kanan a:hover{
    color: #0360D9;
  }
