@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Roboto; /* Mengubah font menjadi Roboto */
    margin: 0;
  }
/* Navbar */
  .navbar {
    position: fixed; /* Menjadikan navbar fixed */
    top: 0;
    width: calc(100% - 100px); /* Mengisi seluruh lebar layar kecuali 100px dari sisi kanan */
    height: 80px; /* Mengatur tinggi navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; /* Memberikan jarak 10px pada sisi atas dan bawah, serta 50px pada sisi kiri */
    background-color: #E1EEFF; /* Mengubah warna background navbar */
    color: #021526; /* Mengubah warna teks navbar */
  }
  
  .navbar-left {
    flex: 1;
  }
  
  .navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for MeCare text */
  .mecare-text {
    font-size: 40px; /* Mengatur ukuran font menjadi 40px */
  }
  
  .navbar-center a {
    margin: 0 20px;
    text-decoration: none;
    color: #021526; /* Menggunakan warna teks yang diinginkan (#021526) */
    font-size: 20px; /* Mengubah ukuran font */
    font-weight: normal; /* Mengubah berat huruf font menjadi regular */
  }
  
  .navbar-center a.home-link {
    color: #0360D9; /* Mengubah warna teks "Beranda" (#0360D9) */
  }
  
  .navbar-center a:hover {
    border-bottom: 2px solid #021526; /* Mengubah warna border-bottom saat hover */
  }
  
  /* Style for navbar right */
  .navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px; /* Mengatur ukuran teks menjadi 40px */
  }
  
  /* Style for all buttons in the navbar */
  .navbar-button {
    width: 150px; /* Mengubah lebar button */
    height: 55px; /* Mengubah tinggi button */
    padding: 10px 20px;
    background-color: #0360D9;
    border: none;
    color: white;
    font-size: 20px; /* Mengubah ukuran font */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Mengatur konten tengah dalam button */
    border-radius: 10px; /* Memberikan radius sudut 10px pada tombol */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-button:hover {
    background-color: #2980b9;
    
  }
  
  .button-text {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .btn-login{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
  }

  .login-icon svg{
    fill: white;
  }
  .navbar-logo{
    font-size: 40px;
    font-weight: 900;
  }

  .logo-me{
    color: #021526;
  }

  .logo-care{
   color:  #0360D9;
  }
  
  /* Style for logo "Me" */

  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: #021526; /* Menggunakan warna teks yang diinginkan */
    padding: 10px 20px;
    font-size: 20px; /* Mengubah ukuran font */
    font-weight: normal; /* Mengubah berat huruf font menjadi regular */
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Memberikan radius sudut 10px pada tombol */
  }
  
  .dropbtn:hover {
    background-color: #d6d2d2;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1eeff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px; /* Memberikan radius sudut 10px pada tombol */
    
  }
  
  .dropdown-content a {
    color: #021526;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px; /* Mengubah ukuran font */
    font-weight: normal; /* Mengubah berat huruf font menjadi regular */
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.isi-konten-grid{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 2fr;
    gap: 0rem;
}

.judul-konten-kiri h1{
    margin-top: 150px;
    margin-left: 50px;
    font-size: 30px;
}

.container-konten-kiri{

    background: linear-gradient(to bottom, #EEEEEE, #A5CCFF);
    width: 450px;
    height: 775px;
    margin: 0px 50px;
    border-radius: 10px;
    /* padding: 15px; */
}

.calender{
    /* padding: 10px; */
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 450px;
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.tahun{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* background-color: #A5CCFF; */
    /* margin-top: 1000px; */
    /* margin: 50px; */
}

.tahun h4, .tahun i{
    margin: 10px 20px 0px 20px;
    font-size: 25px;
}

.tahun i{
    cursor: pointer;
}

.tgl-bln{
    /* margin-top: 0px; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-left: 17.5px;
    margin-right: 20px;
}

.bulan{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 30px; */
}


.bulan p{
    margin: 0px;
}

  /* Menghilangkan margin-right pada elemen terakhir */
.bulan:last-child {
margin-right: 0;
}

.bulan p{
    padding: 8px 12px;
}

.aktif{
    background-color: #0360D9;
    border-radius: 5px;
}

.scroll-pengingat{
    display: block;
    /* margin-top: 50px; */
    /* background-color: #0360D9; */
    max-height: 625px; /* Atur tinggi maksimum konten */
    /* max-width: fit-content; */
    overflow-y: auto; 
    /* margin-right: 50px; */
}

.scroll-pengingat::-webkit-scrollbar {
    display: none; /* Untuk browser berbasis WebKit (seperti Chrome, Safari) */
}

.scroll-pengingat {
    scrollbar-width: thin; /* Untuk browser selain WebKit */
    scrollbar-color: transparent transparent; /* Untuk browser selain WebKit */
}

.konten-pengingat-kiri{
    padding: 20px;
}

.card{
    /* background-color: #D9D9D9; */
    margin-bottom: 35px;
}

.time-pengingat{
    margin: 0px 0px 15px 0px;
    font-size: 15px;
}

.isi-card{
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.isi h5, .isi p{
    margin: 5px 0px 0px 0px;
}

.isi-card:last-child {
    margin-bottom: 0;
}

.isi-card p:last-child {
    margin-bottom: 0;
}

.card:last-child {
    margin-bottom: 0;
}

.isi-card p:last-child {
    margin-bottom: 0;
}

.cekaktif{
    font-size: 50px;
    color: #0360D9;
}

.ceknonaktif{
    font-size: 50px;
    color: #E1EEFF;
}

.cekaktif, .ceknonaktif{
    cursor: pointer;
}


.judul-konten-kanan h1{
    margin-top: 150px;
    margin-left: 149px;
    font-size: 30px;
}

.container-konten-kanan{

    background: linear-gradient(to bottom, #EEEEEE, #A5CCFF);
    width: 600px;
    height: 775px;
    margin: 0px 0px 0px 149px;
    border-radius: 10px;
    /* padding: 15px; */
}

.calender2{
    /* padding: 10px; */
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 600px;
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.tahun2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* background-color: #A5CCFF; */
    /* margin-top: 1000px; */
    /* margin: 50px; */
}

.tahun2 h4, .tahun2 i{
    margin: 10px 20px 0px 20px;
    font-size: 25px;
}

.tahun2 i{
    cursor: pointer;
}

.tgl-bln2{
    /* margin-top: 0px; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-left: 17.5px;
    margin-right: 20px;
}

.bulan2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 0px; */
}


.bulan2 p{
    margin: 0px;
}

  /* Menghilangkan margin-right pada elemen terakhir */
.bulan2:last-child {
margin-right: 0;
}

.bulan2 p{
    padding: 8px 12px;
}

.aktif2{
    background-color: #0360D9;
    border-radius: 5px;
}

.tahun i:hover, .tahun2 i:hover{
    color: #0360D9;
}

.konten-pengingat-kanan{
    padding: 20px 50px 20px 50px;
    /* background-color: #021526; */
    /* max-width: max-content; */
}



.text-input-kanan h5{
    margin: 0px 0px 15px 0px;
    font-size: 18px; 
}
.text-input-kanan{
 margin-bottom: 24px;
}

.input-text {
    border: 1px solid #021526; /* Warna border hitam */
    border-radius: 5px; /* Border radius 5px */
    padding: 10px; /* Padding agar isi terlihat lebih baik */
    background-color: white; /* Background putih */
    outline: none;
    /* width: 100%; */
    width: calc(100% - 20px);
}

/* Mengubah warna border saat aktif/fokus */
.input-text:focus {
    border: 2px solid #0360D9;
}

.kumpulan-aturan{
    margin-top: -15px;
}

.aturan {
    display: inline-block;
    background-color: white;
    padding: 3px;
    border-radius: 25px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
    /* margin-bottom: 10px; */
    border: 1px solid #021526;
    cursor: pointer;
  }
  
.aturan p {
    margin: 0;
    font-size: 12px;
    background-color: transparent;
}

.aturan-aktif{
    background-color: #0360D9;
    color: white;
}

.ulangi{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    /* width: 100px; */
    align-items: center;
}

.ulangi h4{
    margin: 0px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0360D9;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0360D9;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  .ulangi-time{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 5px;
  }

  .ulangi-time h6{
    font-size: 15px;
    cursor: pointer;
    margin: 0px;
  }
  
.ulangi-time-aktif{
    color: #0360D9;
}


.btn-tambah{
    background-color: #0360D9;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 145px;
    cursor: pointer;
  }
  
  .btn-tambah:hover{
  background-color: #2980b9;
  }
  
  .btn-tambah a{
    text-decoration: none;
    color: white;
    
  }

#footer{
  margin-top: 80px;
  background-color: #E1EEFF;
  height: 285px;
  padding: 50px;
  }

  .footer-konten-kiri p{
    margin-top: -18px;
    margin-bottom: 68px;
  }

  .footer-kolom-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .icon-sosmed img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .icon-sosmed{
    display: flex;
  }

  .footer-konten-tengah h3, .footer-konten-kanan h3{
    font-size: 24px;
  }

  .footer-konten-tengah, .footer-konten-kanan{
    padding: 0 110px;
  }

  .footer-konten-tengah a, .footer-konten-kanan a{
    display: block;
    margin-bottom: 10px;
    color: #021526;
    text-decoration: none;
  }

  .footer-konten-tengah a:hover, .footer-konten-kanan a:hover{
    color: #0360D9;
  }
